div.overlay {
    --baseline: 12px;
    position: fixed;
    display: block;
    top: 20%;
    left: 50%;
    height: fit-content;
    min-width: 280px;
    padding: var(--baseline) calc(var(--baseline) * 2);
    background: white;
    border-radius: 20px;
    color: black;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    z-index: 2;
}
