@keyframes scanning {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        y: 8
    }
}


rect.animation {
    animation: scanning 4s ease-in alternate infinite;
}
